<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reimu_atk1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,232},{172,188}}</string>
                <key>offset</key>
                <string>{-65,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,46},{172,188}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1219},{156,174}}</string>
                <key>offset</key>
                <string>{-37,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,60},{156,174}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{172,184}}</string>
                <key>offset</key>
                <string>{-55,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,50},{172,184}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{162,230}}</string>
                <key>offset</key>
                <string>{40,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,4},{162,230}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{234,228}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,11},{234,228}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{228,174}}</string>
                <key>offset</key>
                <string>{28,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{228,174}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1559},{140,144}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,93},{140,144}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1040},{122,146}}</string>
                <key>offset</key>
                <string>{20,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,91},{122,146}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1479},{112,150}}</string>
                <key>offset</key>
                <string>{14,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,84},{112,150}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,864},{122,174}}</string>
                <key>offset</key>
                <string>{-22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,60},{122,174}}</string>
                <key>sourceSize</key>
                <string>{312,244}</string>
            </dict>
            <key>reimu_atk2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1330},{147,170}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,15},{147,170}}</string>
                <key>sourceSize</key>
                <string>{233,192}</string>
            </dict>
            <key>reimu_atk2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,503},{127,174}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,11},{127,174}}</string>
                <key>sourceSize</key>
                <string>{233,192}</string>
            </dict>
            <key>reimu_atk2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,406},{185,178}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,7},{185,178}}</string>
                <key>sourceSize</key>
                <string>{233,192}</string>
            </dict>
            <key>reimu_atk2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,819},{177,178}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{177,178}}</string>
                <key>sourceSize</key>
                <string>{233,192}</string>
            </dict>
            <key>reimu_atk2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1207},{149,176}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,9},{149,176}}</string>
                <key>sourceSize</key>
                <string>{233,192}</string>
            </dict>
            <key>reimu_atk2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,828},{153,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{153,178}}</string>
                <key>sourceSize</key>
                <string>{233,192}</string>
            </dict>
            <key>reimu_atk2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,500},{183,180}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{183,180}}</string>
                <key>sourceSize</key>
                <string>{233,192}</string>
            </dict>
            <key>reimu_forward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,339},{193,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{193,174}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{187,156}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{187,156}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,740},{181,154}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{181,154}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,667},{179,150}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{179,150}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,163},{199,174}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{199,174}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,178},{197,164}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{197,164}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,344},{187,154}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{187,154}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{179,154}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{179,154}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{183,152}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{183,152}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,515},{187,150}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{187,150}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,682},{183,144}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{183,144}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_forward_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,586},{183,152}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{183,152}}</string>
                <key>sourceSize</key>
                <string>{233,194}</string>
            </dict>
            <key>reimu_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1281},{163,173}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{163,173}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1377},{149,173}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{149,173}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1208},{163,171}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{163,171}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1035},{171,171}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{171,171}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1507},{169,171}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{169,171}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1159},{169,173}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{169,173}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,998},{159,175}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{159,175}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,858},{157,175}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{157,175}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,983},{147,177}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{147,177}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{147,177}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{147,177}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1072},{145,177}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{145,177}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{149,177}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{149,177}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,679},{151,177}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{151,177}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1132},{147,175}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{147,175}}</string>
                <key>sourceSize</key>
                <string>{175,199}</string>
            </dict>
            <key>reimu_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1528},{111,166}}</string>
                <key>offset</key>
                <string>{36,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,99},{111,166}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{147,174}}</string>
                <key>offset</key>
                <string>{44,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,86},{147,174}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,329},{89,172}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,88},{89,172}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1373},{89,166}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,94},{89,166}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,260}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{97,260}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{159,216}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,49},{159,216}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,896},{177,174}}</string>
                <key>offset</key>
                <string>{-32,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,95},{177,174}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1188},{119,168}}</string>
                <key>offset</key>
                <string>{31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,98},{119,168}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1446},{135,168}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,95},{135,168}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,694},{125,168}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,95},{125,168}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,344},{79,178}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,87},{79,178}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,524},{125,168}}</string>
                <key>offset</key>
                <string>{46,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,95},{125,168}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1358},{115,166}}</string>
                <key>offset</key>
                <string>{39,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,96},{115,166}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,163},{91,164}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,96},{91,164}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
            <key>reimu_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1464},{93,158}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,102},{93,158}}</string>
                <key>sourceSize</key>
                <string>{255,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reimu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ed2d38a3c38f8ed12447ce7280c7d6$</string>
            <key>textureFileName</key>
            <string>reimu.png</string>
        </dict>
    </dict>
</plist>
