<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{253,263}}</string>
                <key>offset</key>
                <string>{69,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,40},{253,263}}</string>
                <key>sourceSize</key>
                <string>{391,303}</string>
            </dict>
            <key>atk7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,255}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,48},{381,255}}</string>
                <key>sourceSize</key>
                <string>{391,303}</string>
            </dict>
            <key>atk7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{323,267}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{323,267}}</string>
                <key>sourceSize</key>
                <string>{391,303}</string>
            </dict>
            <key>atk7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,225},{299,291}}</string>
                <key>offset</key>
                <string>{-36,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{299,291}}</string>
                <key>sourceSize</key>
                <string>{391,303}</string>
            </dict>
            <key>atk7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{221,303}}</string>
                <key>offset</key>
                <string>{-85,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,303}}</string>
                <key>sourceSize</key>
                <string>{391,303}</string>
            </dict>
            <key>atk7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,259},{163,87}}</string>
                <key>offset</key>
                <string>{-70,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,180},{163,87}}</string>
                <key>sourceSize</key>
                <string>{391,303}</string>
            </dict>
            <key>atk7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,271},{131,75}}</string>
                <key>offset</key>
                <string>{-57,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,187},{131,75}}</string>
                <key>sourceSize</key>
                <string>{391,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07ec0c8e92f5d8ff1cd7524acacda1d7$</string>
            <key>textureFileName</key>
            <string>atk7.png</string>
        </dict>
    </dict>
</plist>
