<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,311}}</string>
                <key>sourceSize</key>
                <string>{800,311}</string>
            </dict>
            <key>atk6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{784,301}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{784,301}}</string>
                <key>sourceSize</key>
                <string>{800,311}</string>
            </dict>
            <key>atk6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{800,285}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{800,285}}</string>
                <key>sourceSize</key>
                <string>{800,311}</string>
            </dict>
            <key>atk6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{788,281}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{788,281}}</string>
                <key>sourceSize</key>
                <string>{800,311}</string>
            </dict>
            <key>atk6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{800,285}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{800,285}}</string>
                <key>sourceSize</key>
                <string>{800,311}</string>
            </dict>
            <key>atk6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{790,301}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{790,301}}</string>
                <key>sourceSize</key>
                <string>{800,311}</string>
            </dict>
            <key>atk6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,311}}</string>
                <key>sourceSize</key>
                <string>{800,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk6.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c8078c7a582c67d65020bb57666b85c$</string>
            <key>textureFileName</key>
            <string>atk6.png</string>
        </dict>
    </dict>
</plist>
