<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sk1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{291,197}}</string>
                <key>offset</key>
                <string>{-60,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,236},{291,197}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{337,207}}</string>
                <key>offset</key>
                <string>{-47,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,226},{337,207}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,680},{303,183}}</string>
                <key>offset</key>
                <string>{-23,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,194},{303,183}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,357},{321,257}}</string>
                <key>offset</key>
                <string>{55,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,176},{321,257}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{319,175}}</string>
                <key>offset</key>
                <string>{53,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,258},{319,175}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{307,227}}</string>
                <key>offset</key>
                <string>{-52,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,206},{307,227}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1566},{259,235}}</string>
                <key>offset</key>
                <string>{-12,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,184},{259,235}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1566},{71,105}}</string>
                <key>offset</key>
                <string>{-36,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,151},{71,105}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1251},{169,211}}</string>
                <key>offset</key>
                <string>{-17,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,35},{169,211}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1827},{165,219}}</string>
                <key>offset</key>
                <string>{-14,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,35},{165,219}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,225},{161,221}}</string>
                <key>offset</key>
                <string>{-11,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,35},{161,221}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,879},{159,219}}</string>
                <key>offset</key>
                <string>{-11,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,37},{159,219}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{137,217}}</string>
                <key>offset</key>
                <string>{-16,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,39},{137,217}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1036},{139,213}}</string>
                <key>offset</key>
                <string>{-17,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,41},{139,213}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1036},{127,211}}</string>
                <key>offset</key>
                <string>{-12,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,41},{127,211}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1914},{129,201}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,52},{129,201}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,448},{127,201}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,52},{127,201}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1249},{119,201}}</string>
                <key>offset</key>
                <string>{-12,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,53},{119,201}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,985},{51,53}}</string>
                <key>offset</key>
                <string>{-17,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,108},{51,53}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{87,89}}</string>
                <key>offset</key>
                <string>{-18,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,90},{87,89}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1452},{105,107}}</string>
                <key>offset</key>
                <string>{-18,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,80},{105,107}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,221},{123,119}}</string>
                <key>offset</key>
                <string>{-19,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,75},{123,119}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,878},{135,141}}</string>
                <key>offset</key>
                <string>{-12,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,59},{135,141}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,879},{151,155}}</string>
                <key>offset</key>
                <string>{-15,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,51},{151,155}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,448},{161,179}}</string>
                <key>offset</key>
                <string>{-17,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,47},{161,179}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1021},{165,195}}</string>
                <key>offset</key>
                <string>{-18,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,41},{165,195}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{157,353}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{157,353}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{143,355}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,0},{143,355}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,357}}</string>
                <key>offset</key>
                <string>{-18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,0},{129,357}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,878},{135,185}}</string>
                <key>offset</key>
                <string>{-20,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,159},{135,185}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,651},{129,185}}</string>
                <key>offset</key>
                <string>{-18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,165},{129,185}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,743},{133,165}}</string>
                <key>offset</key>
                <string>{-24,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,185},{133,165}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,739},{137,185}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,169},{137,185}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,680},{307,83}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,163},{307,83}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,245},{191,223}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,99},{191,223}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,323},{303,119}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,165},{303,119}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{297,199}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,111},{297,199}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1659},{283,257}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,100},{283,257}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1366},{273,257}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,100},{273,257}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1040},{263,261}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,103},{263,261}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1305},{241,259}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,107},{241,259}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,496},{225,241}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,103},{225,241}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{201,241}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,98},{201,241}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,249},{245,81}}</string>
                <key>offset</key>
                <string>{-6,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,299},{245,81}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,496},{245,81}}</string>
                <key>offset</key>
                <string>{10,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,299},{245,81}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{245,81}}</string>
                <key>offset</key>
                <string>{10,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,299},{245,81}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,249},{245,81}}</string>
                <key>offset</key>
                <string>{10,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,299},{245,81}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,550},{245,81}}</string>
                <key>offset</key>
                <string>{0,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,293},{245,81}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{245,81}}</string>
                <key>offset</key>
                <string>{10,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,299},{245,81}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1944},{245,81}}</string>
                <key>offset</key>
                <string>{10,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,299},{245,81}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1948},{245,81}}</string>
                <key>offset</key>
                <string>{10,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,299},{245,81}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,985},{57,107}}</string>
                <key>offset</key>
                <string>{-60,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,110},{57,107}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,2},{221,181}}</string>
                <key>offset</key>
                <string>{-9,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,68},{221,181}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,301},{247,215}}</string>
                <key>offset</key>
                <string>{18,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,87},{247,215}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,628},{249,229}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,105},{249,229}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1056},{267,207}}</string>
                <key>offset</key>
                <string>{67,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,134},{267,207}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1659},{287,191}}</string>
                <key>offset</key>
                <string>{53,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,137},{287,191}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1641},{271,183}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,135},{271,183}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
            <key>sk6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,989},{65,87}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,128},{65,87}}</string>
                <key>sourceSize</key>
                <string>{431,433}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nima.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77b613e588caf7d6c4be7ae16364cb84$</string>
            <key>textureFileName</key>
            <string>nima.png</string>
        </dict>
    </dict>
</plist>
